  <h2 class="h4 font-weight-bold mt-3">Fiyatlarımız</h2>
  <div class="row">
    <div class="col-12 col-md-6">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Makine Halıları</td>
            <td>12,00₺</td>
          </tr>
          <tr>
            <td>Sık dokuma Halılar</td>
            <td>13,00₺</td>
          </tr>
          <tr>
            <td>Şagi Halılar</td>
            <td>13,00₺</td>
          </tr>
          <tr>
            <td>Yün Halılar</td>
            <td>14,00₺</td>
          </tr>
          <tr>
            <td>El Dokuma Halılar</td>
            <td>30,00₺</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-6">
      <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Bambu Halı </td>
          <td>15,00₺</td>
        </tr>
        <tr>
          <td>Overlok</td>
          <td>10,00₺</td>
        </tr>
        <tr>
          <td>Stor Perde</td>
          <td>10,00₺</td>
        </tr>
        <tr>
          <td>Zebra Stor Perde</td>
          <td>15,00₺</td>
        </tr>
        <tr>
          <td>Koltuk Takımı</td>
          <td>200,00₺</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

