  <h2 class="h4 font-weight-bold mt-3">Hizmetlerimiz</h2>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Fason Metal Lazer Kesim</button>
        <button type="button" class="list-group-item list-group-item-action">Abkant Büküm</button>
        <button type="button" class="list-group-item list-group-item-action">Saç şekillendirme</button>
        <button type="button" class="list-group-item list-group-item-action">Talaşlı imalat</button>
        <button type="button" class="list-group-item list-group-item-action">Kaynak</button>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Robot kaynak</button>
        <button type="button" class="list-group-item list-group-item-action">Punta Kaynak</button>
        <button type="button" class="list-group-item list-group-item-action">Montaj</button>
        <button type="button" class="list-group-item list-group-item-action">Pul ve Segman imalatı</button>
        <button type="button" class="list-group-item list-group-item-action">Toz boya ve ısıl işlem</button>
      </div>
    </div>
  </div>

